projects/vstudio13/libpng/Debug/
projects/vstudio13/libpng/Release/
projects/vstudio13/libpng/Win32/
projects/vstudio13/libpng/x64/
projects/vstudio13/libpng/ipch/
projects/vstudio13/libpng/libpng.opensdf
projects/vstudio13/libpng/libpng.sdf
